/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Us Section */
.contact-us-section {
    padding: 100px 20px;
    background-color: #f9f9f9;
    margin-top: 10vh;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-info {
    width: 45%;
}

.contact-info h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
}

.contact-form {
    width: 50%;
}

.contact-form h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .contact-info, .contact-form {
        width: 100%;
    }
    h3{
        text-align: center;
    }
    .contact-us-section {
        padding: 80px 15px;
    }

    .contact-info h1, .contact-form h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .contact-us-section {
        padding: 60px 10px;
    }

    .contact-info h1, .contact-form h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .contact-row {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .contact-form {
        width: 100%;
    }

    .contact-info iframe {
        height: 250px;
    }

    .contact-form input, .contact-form textarea {
        padding: 8px;
    }

    .contact-form button {
        padding: 10px;
    }

    .contact-info h1, .contact-form h1 {
        font-size: 1.3rem;
        text-align: center;
    }
}


/* Footer
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right a {
    color: white;
    margin-left: 20px;
    font-size: 1.5rem;
}

.footer-right a:hover {
    color: #ddd;
} */
